/* 
Colors
navbar : #150052
hero btn: #e1bf3e
text: #FFFFFF
text-shadow: #746EA2
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@font-face {
    font-family: telegraf-bold;
    src: url('/assets/fonts/PPTelegraf-UltraBold.otf');
}

@font-face {
    font-family: telegraf-regular;
    src: url('/assets/fonts/PPTelegraf-Regular.otf');
}
@font-face {
    font-family: telegraf-light;
    src: url('/assets/fonts/PPTelegraf-UltraLight.otf');
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
 overflow-x: hidden;
 scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    max-width: 100vw;
    background-image: url('/assets/img/blueBG.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero .navbar {
    position: fixed;
    height: 9%;
    width: 100vw;
    background-color: #150052;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.hero .navbar .logo{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    margin-top: 10px;
    overflow: hidden;
}

.hero .navbar .logo img{
    height: 50px;
    width: 50px;
}

.hero .navbar .nav-list{
    display: flex;
    align-items: center;
    padding-right: 50px;
}


.hero .navbar .nav-list .icon{
    display: none;   
}
.hero .navbar .nav-list a{
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'telegraf-regular', sans-serif;
}

.hero .navbar .nav-list a:hover{
    background-color: #FFFFFF;
    color: #150052;
    border-radius: 50px;
    transition: .4s ease;
}
.main-bg{
    width: 100vw;
    display: flex;
    padding-top: 5%;
}

.hero-img-container{
    width: 50vw;
    overflow: hidden;
}
.hero-img{
    width: 70%;
    height: 100%;
    padding-top: 30px;

}

.hero-text{
    width: 50vw;
    margin-top: 13%;
}

.first-text{
    font-family: 'telegraf-bold', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    text-shadow: #746EA2 2px 5px;

}

.second-text{
    font-size: 60px;
    font-family: 'telegraf-bold', sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-weight: 600;
    text-shadow: #746EA2 4px 4px;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 80px;
    width: 250px;
    font-size: 25px;
    font-family: 'telegraf-bold', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    border-color: none;
    border: none;
    background-color: #e1bf3e;
    color: #FFFFFF;
    box-shadow: inset 6px -6px 10px 0 #A16C15;
    text-decoration: none;
}

.hero-btn:hover{
    margin-top: 10px;
    height: 80px;
    width: 250px;
    font-size: 25px;
    font-family: 'telegraf-bold', sans-serif;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    border-color: none;
    border: none;
    background-color: #FFFFFF;
    color: #e1bf3e;
    box-shadow: inset 6px -6px 10px 0 #cec9c0;
}
.tool-and-tips{
    height: 100vh;
    max-width: 100vw;
    background-image: url('/assets/img/mapBGtab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 150px 300px 0 300px;
    color: #FFFFFF;
    
}


.section-one-header{
    font-size: 30px;
    font-family: 'telegraf-bold', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.section-one-sub-header{
    font-size: 26px;
    font-family: 'telegraf-bold', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.section-one-main-text1{
    font-size: 25px;
    font-family: 'telegraf-regular', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-one-main-text2{
    margin-left: 30px;
    font-size: 20px;
    line-height: 30px;
}
.about{
    background-image: url('/assets/img/mapBGtab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    max-width: 100vw;
    color: #FFFFFF;
    padding: 100px 300px;
}

.section-two-header{
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: 'telegraf-bold', sans-serif;
    text-align: center;
}

.section-two-header2{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    font-family: 'telegraf-regular', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.section-two-header3{
    display: block;
    font-size: 25px;
    font-weight: 500;
    font-family: 'telegraf-regular', sans-serif;
    text-align: start;
    margin-bottom: 20px;
}


.section-content{
    font-size: 20px;
    font-family: 'telegraf-regular', sans-serif;
    text-align: center;
    line-height: 30px;
   
}
/* .about-second-page{
    background-image: url('/assets/img/mapBGtab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    color: #FFFFFF;
    padding: 100px 300px;
} */

/* .about-second-page .section-two-header{
    display: block;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: 'telegraf-bold', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.about-second-page .section-two-header2{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    font-family: 'telegraf-regular', sans-serif;
    text-align: center;
    margin-bottom: 20px;
} */
 .section-two-header4{
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    font-family: 'telegraf-bold', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.section-two-content{
    font-size: 20px;
    font-family: 'telegraf-regular', sans-serif;
    text-align: center;
    line-height: 30px;
}

.section-img{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    justify-content: center;
}


.section-img img{
    height: 200px;
    width: 200px;
    margin: 0 10px;
}
.contacts{
    background-image: url('/assets/img/mapBGtab.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    max-width: 100vw;
    color: #FFFFFF;
}

.main-container{
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100vh;

}
.contact-container{
    display: flex;
    width: 85vw;
    height: 450px;
    float: right;
    background:  rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 2px;
    border:1px solid rgba(46, 45, 45, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 30px;
    padding-left: 50px;
}
.contact-text{
    width: 50%;
    padding-right: 50px;
}

.contact-text .header{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    font-family: 'telegraf-bold', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: #FFFFFF  1px 0 8px;
    letter-spacing: 2px;
}


.contact-text .content{
    text-align: center;
    line-height: 25px;
    margin-bottom: 10px;
    font-family: 'telegraf-regular', sans-serif;
    font-size: 23px;
}

.icons{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.icons img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}


.upper-fields{

    display: flex;
    margin-bottom: 1.5rem;
    justify-content: space-between;
}

.name{
    margin-right: 30px;
}
.label{
    display: block;
    font-size: 20px;
    font-family: 'telegraf-regular', sans-serif;
    margin-bottom: 10px;
}

.input{
    width: 250px;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 50px;
}


.microphone{
    height: 350px;
    width: 350px;
    z-index: 1;
    position: absolute;
    top: 400px;
    left: 100px;
}


textarea{
    display: block;
    margin-bottom: 1.5rem;
    width: 550px;
    border-radius: 10px;
    padding: 10px 10px;
}

.contact-btn{
    height: 55px;
    width: 150px;
    font-size: 17px;
    font-family: 'telegraf-regular', sans-serif;
    text-transform: uppercase;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #A3A1BE;
    letter-spacing: 2px;
} 

@media screen  and (max-width: 1700px){
    .microphone{
        height: 300px;
        width: 300px;
        z-index: 1;
        position: absolute;
        top: 450px;
        left: 100px;
    }
}

@media screen  and (max-width: 1500px){
    .microphone{
        height: 300px;
        width: 300px;
        z-index: 1;
        position: absolute;
        top: 500px;
        left: 100px;
    }
}


@media screen  and (max-width: 1300px){
    .microphone{
        height: 300px;
        width: 300px;
        z-index: 1;
        position: absolute;
        top: 550px;
        left: 100px;
    }
}

@media screen  and (max-width: 1200px){
    .microphone{
        height: 250px;
        width: 250px;
        z-index: 1;
        position: absolute;
        top: 580px;
        left: 100px;
    }
}

@media screen  and (max-width: 1179px){
    .microphone{
        height: 250px;
        width: 250px;
        z-index: 1;
        position: absolute;
        top: 600px;
        left: 100px;
    }
}


@media only screen and (max-width:900px) {
    .main-bg{
        padding-top: 70px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .hero-text{
        width: 100vw;
    }

    .hero-img{
        width: 50%;
        height: 50%;
    }

    .hero-img-container{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tool-and-tips, .about{
        padding: 50px 50px 0 50px;
    }

    .contact-container{
        width: 100vw;
        height: 180vh;
        display: block;
        padding: 20px 40px;
        margin-top: 30px;
        
    }

    .contact-text{
        width: 100vw;
        margin-bottom: 20px;
        margin-left: -20px;
    }

    .contact-text .header{
        font-size: 25px;
    }

    .contact-text .content{
        font-size: 15px;
    }

    .contact-text .icons{
        justify-content: center;
    }

    .contact-text .icons img{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .microphone{
        visibility: hidden;
    }

    .upper-fields{
        display: block;
    }


    .upper-fields .name{
        margin: 0;
        margin-bottom: 10px;
    }
    .upper-fields .input{
        width: 100%;
    }

    .contact-form textarea{
        width: 100%;
    }

    .contact-btn{
        font-size: 14px;
        width: 100px;
        height: 40px;
    }
   
}
@media screen  and (max-width: 600px){

    .hero .navbar .logo img{
        height: 40px;
        width: 40px;
    }
    .hero .navbar .nav-list{
        padding-right: 10px;
    }
    .hero .navbar .nav-list a {display: none;}
    .hero .navbar .nav-list .icon{
      float: right;
      display: block;
    }

    .hero .navbar .nav-list .icon:hover{
        border: none;
      }

    .hero .navbar .responsive {position: relative;}
    .hero .navbar .nav-list .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .hero .navbar .responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #150052;
    }


    .first-text{
        font-family: 'telegraf-bold', sans-serif;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 900;
        text-shadow: #746EA2 2px 5px;
    }

    .second-text{
        font-family: 'telegraf-bold', sans-serif;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 900;
        text-shadow: #746EA2 2px 5px;
    }

    .hero-btn{
        margin-top: 10px;
        height: 50px;
        width: 180px;
        font-size: 17px;
    }

    .tool-and-tips, .about{
        padding: 50px 50px 0 50px;
    }


    .section-one-header{
        font-size: 30px;
    }

    .section-one-sub-header{
        font-size: 20px;
    }

    .section-one-main-text1{
        font-size: 20px;
    }

    .section-one-main-text2,  .section-content, .section-two-content{
        font-size: 15px;
    }
    
    .section-img{
        display: flex;
        justify-content: center;
    }

    .section-img img{
        display: block;
        padding: 0;
        margin-right: 10px;
        height: 130px;
        width: 180px;
    }

    .contact-container{
        width: 100vw;
        height: 100vh;
        display: block;
        padding: 20px 40px;        
    }

    .contact-text{
        width: 100vw;
        margin-bottom: 20px;
        margin-left: -20px;
    }

    .contact-text .header{
        font-size: 25px;
    }

    .contact-text .content{
        font-size: 15px;
    }

    .contact-text .icons{
        justify-content: center;
    }

    .contact-text .icons img{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .microphone{
        visibility: hidden;
    }

    .upper-fields{
        display: block;
    }


    .upper-fields .name{
        margin: 0;
        margin-bottom: 10px;
    }
    .upper-fields .input{
        width: 100%;
    }

    .contact-container textarea{
        width: 285px;
    }

    .contact-btn{
        font-size: 14px;
        width: 100px;
        height: 40px;
    }

    .contact-form textarea{
        width: 100%;
    }
}

@media screen  and (max-width: 400px){

    .hero .navbar .logo img{
        height: 40px;
        width: 40px;
    }
    .hero .navbar .nav-list{
        padding-right: 10px;
    }
    .hero .navbar .nav-list a {display: none;}
    .hero .navbar .nav-list .icon{
      float: right;
      display: block;
    }

    .hero .navbar .nav-list .icon:hover{
        border: none;
      }

    .hero .navbar .responsive {position: relative;}
    .hero .navbar .nav-list .responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .hero .navbar .responsive a {
        float: none;
        display: block;
        text-align: left;
        background-color: #150052;
    }


    .first-text{
        font-family: 'telegraf-bold', sans-serif;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 900;
        text-shadow: #746EA2 2px 5px;
    }

    .second-text{
        font-family: 'telegraf-bold', sans-serif;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
        font-weight: 900;
        text-shadow: #746EA2 2px 5px;
    }

    .hero-btn{
        margin-top: 10px;
        height: 50px;
        width: 180px;
        font-size: 17px;
    }

    .tool-and-tips, .about{
        padding: 50px 50px 0 50px;
    }

    .tool-and-tips{
        min-height: 160vh;
    }
    .section-one-header{
        font-size: 30px;
    }

    .section-one-sub-header{
        font-size: 20px;
    }

    .section-one-main-text1{
        font-size: 20px;
    }

    .section-one-main-text2,  .section-content, .section-two-content{
        font-size: 15px;
    }
    
    .section-img{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;
    }

    .section-img img{
        display: block;
        padding: 0;
        margin-right: 10px;
        height: 60px;
        width: 200px;
    }

    .contacts{
        min-height:150vh;
    }

    .main-container{
        min-height: 150vh;
    }
    .contact-container{
        width: 100vw;
        min-height: 130vh;
        display: block;
        padding: 20px 40px;
       
    }

    .contact-text{
        width: 100vw;
        margin-bottom: 20px;
        margin-left: -20px;
    }

    .contact-text .header{
        font-size: 25px;
    }

    .contact-text .content{
        font-size: 15px;
    }

    .contact-text .icons{
        justify-content: center;
    }

    .contact-text .icons img{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .microphone{
        visibility: hidden;
    }

    .upper-fields{
        display: block;
    }


    .upper-fields .name{
        margin: 0;
        margin-bottom: 10px;
    }
    .upper-fields .input{
        width: 100%;
    }

    .contact-container textarea{
        width: 285px;
    }

    .contact-btn{
        font-size: 14px;
        width: 100px;
        height: 40px;
    }

    .contact-form textarea{
        width: 100%;
    }
}







